<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/awesome/Css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/awesome/Css/bootstrap.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<div id="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('home') }}">Home</a></li>
        <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Login / Logout</a></li>
        <li role="presentation"><a href="{{ path('ticket_index') }}">Ticket</a></li>
    </ul>
</div>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/awesome/js/jquery-3.1.1.min.js') }}"></script>

    <script src="{{ asset('bundles/awesome/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
