{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ ticket.user }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if ticket.date %}{{ ticket.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ticket.content }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <h4>Allow user to see that ticket</h4>
                <form method="POST" name="accesForm">
                    <input  type="number" name="idUserToAllow">
                    <input class="btn btn-primary" type="submit">
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">Only admin can attribute a ticket to an user</div>
            {% endif %}

            {% if (msgError == "" and msgOk == "") %}
                <p class="alert alert-warning">Select an ID of user you want allow access to that ticket</p>
            {% elseif msgOk == "" %}
                <div class="alert alert-danger" role="alert"><strong>{{ msgError }}</strong></div>
                {% elseif msgError == "" %}
                <div class="alert alert-success" role="alert"><strong>{{ msgOk }}</strong></div>
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form_ticket) }}
            <input class="btn btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form_ticket) }}
        </li>
        {% else %}
            <div class="alert alert-danger" role="alert">Only admin can delete that ticket</div>
        {% endif %}
    </ul>

    <div class="response">
        {% include (":message:show.html.twig") %}
    </div>

    <div class="blockMessage">
        {% include (":message:new.html.twig") %}
    </div>
{% endblock %}
